<header class="main-header">
  <nav class="container">
    <div class="logo">
      <a href="/"> Bazaar</a>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/listings">All Chalets</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
    </ul>
  </nav>
</header>
